{% extends "base.html" %}

{% block title %} 首页测试 {% endblock title %}



{% block script %}
<script>
         $(document).ready(function () {
             $("#group_name").change(function () {
               //change事件
                 var name = $("#group_name").val();
          var table_str = ''
          $.getJSON('{% url 'ajax_group_disk_name' %}',{'name':name},function(di){
              //返回值 di 在这里是一个字典
              $.each(di,function(ip,disk){
                  table_str += '<tr><td>'+ip+'</td><td align="left">';
                  var len = disk.length;
                  for (var i =0;i<len;i++){
                      table_str +='<input name ="ip_disk_name" type="checkbox" value ="'+ip+'@'+disk[i]+'" />'+disk[i]+' ';
                  }
                  table_str += "</td></tr>";
              });
              table_str += '<tr><td colspan="2">'+'<input type="submit" value="确定" />'+'</td></tr>'
              $("#tbody").html(table_str);
          })
             });
         });
</script>
{% endblock script %}



{% block content %}
<form action="{% url 'rbbb_zbbbdata' %}" method="post">
	<select name="group_name" id="group_name">
        <option value="">----请选择服务器---</option>
		{% for group in server_grouplist %}
			<option value = "{{ group }}">{{ group }}</option>
		{% endfor %}
	</select>
    <label for="week_time">选取周报日期</label><input id="week_time" name="weektime" type="week">
    <input name="total" type="checkbox" value="a" checked="true"/>是否合并显示 </label>
<table width="96%" border="8">
    <tbody id="tbody">

    </tbody>

</table>
</form>
{% endblock content %}