{% extends "base.html" %}

{% block title %} 首页测试 {% endblock title %}

{% block script %}
    <script src="/templates/treemodel/js/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var options = {
                bootstrap2: false,
                showTags: true,
                showBorder: false,
                levels: 1,
                data: {{ data|safe }}
            };
            $("#treeview").treeview(options);
            $("#treeview").on('nodeSelected',function(event,data){
                var c_file_name = data.text;
                var f_n = $('#treeview').treeview('getParent', data.nodeId);
                var f_dir_name = f_n.text;
                var td_detail = document.getElementById("detail_file");
                var function_path = document.getElementById("function_path");
                function_path.value = f_dir_name + "/" + c_file_name;
                $.getJSON('{% url 'antivirus_ajax_configuration_job' %}',{'f_dir_name':f_dir_name},function(di) {
                    var job_detail = '';
                    $.each(di,function(name,value){
                        job_detail += '<textarea style="width: 100%;height: 100px;background-color: #d8ffc6;font-weight: bold;">';
                        job_detail += value;
                        job_detail += '</textarea>';
                        job_detail += '<input type="submit" value="确定" />'
                    });
                    td_detail.innerHTML = job_detail;

                });
            });

        });
    </script>
{% endblock script %}

{% block content %}
<form action="{% url 'antivirus_insert_jobmessage' %}" method="post">
    <div style="font-size: large;font-weight: 800">{{ alert }}</div>
    <table width="96%" border="8">
    <tr><td colspan="2"><h1>计划任务配置</h1></td></tr>
    <tr>
        <td width="10%">
            <div class="container" style="width: 300px">

        {#        文件列表左侧#}
                <div class="row" style="text-align: left;">
                    <div class="col-sm-12">
                      <div id="treeview"></div>
                    </div>
                </div>
            </div>
        </td>
        <td width="90%">
      {#    文件详细内容右侧#}
            <table border="2" width="100%">
                <tr>
                    <td colspan="6"><label for="function_path"></label><input id="function_path" name="function_name" type="text" readonly="true" style="width: 100%;font-size: large;font-weight: bold;text-align: center"/></td>
                </tr>
                <tr>
                    <td><label for="year_n">年</label><input id="year_n" name="year_n" type="number" min="1960" max="3000"></td>
                    <td><label for="month_n">月</label><input id="month_n" name="month_n" type="number" min="1" max="12"/></td>
                    <td><label for="day_n">日</label><input id="day_n" name="day_n" type="number" min="1" max=""/></td>
                    <td><label for="hour_n">小时<input id="hour_n" name="hour_n" type="number" min="0" max="24"/></label></td>
                    <td><label for="minute_n">分钟<input id="minute_n" name="minute_n" type="number" min="0" max="60"/></label></td>
                    <td><label for="second_n">秒<input id="second_n" name="second_n" type="number" min="0" max="60"/></label></td>
                </tr>
                <tr>
                    <td colspan="6"><div id="detail_file"></div></td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
</form>

{% endblock content %}